<div local-class="grid">
  {{#if this.hasBingo}}
    {{! template-lint-disable }}
    {{confetti}}
  {{/if}}

  {{#each this.order as |contentIndex index|}}
    <button
      type="button"
      aria-pressed="{{if (get this.state index) "true" "false"}}"
      local-class="item"
      {{on "click" (fn this.toggle index)}}
    >
      <span local-class="text {{if (not textVisible) "hidden"}}">
        {{#if (eq contentIndex 0)}}
          „Hallo? Halloooo?“
        {{else if (eq contentIndex 1)}}
          „Sind alle da?“
        {{else if (eq contentIndex 2)}}
          „Sorry, mein Akku war leer...“
        {{else if (eq contentIndex 3)}}
          „Versteht ihr mich?“
          {{svg-jar "speaker" aria-hidden="true" local-class="speaker"}}
        {{else if (eq contentIndex 4)}}
          „Mein WLAN spinnt!“
        {{else if (eq contentIndex 5)}}
          Rückkopplung, Pfeifen, ...
        {{else if (eq contentIndex 6)}}
          Kinderstimmen
        {{else if (eq contentIndex 7)}}
          „Ich muss in die nächste Telko!“
        {{else if (eq contentIndex 8)}}
          Schwarze Silhouette vor Fenster
        {{else if (eq contentIndex 9)}}
          {{svg-jar "cat" aria-hidden="true" local-class="cat"}}
          Tiergeräusche
        {{else if (eq contentIndex 10)}}
          „Ich musste kurz ein Paket annehmen“
        {{else if (eq contentIndex 11)}}
          Verpixeltes Bild / gar kein Bild
        {{else if (eq contentIndex 12)}}
          Lautes Tastatur-Tippen
        {{else if (eq contentIndex 13)}}
          ...alle reden gleichzeitig.
        {{else if (eq contentIndex 14)}}
          Klospülung
        {{else if (eq contentIndex 15)}}
          Partner läuft durchs Bild
        {{/if}}
      </span>
    </button>
  {{/each}}
</div>