<footer local-class="footer">
  <div local-class="top">
    <div local-class="name-box">
      {{svg-jar "projektitekt-logo" role="img" aria-label="Projektitekt" local-class="logo"}}

      <div local-class="name">Sylvia C. Schuster</div>
      <div local-class="title">M.A. Architektin</div>
    </div>

    <div local-class="box address-box">
      {{svg-jar "location-pin" local-class="box-logo"}}
      <div local-class="box-text">
        Turpinstr. 19<br>
        52066 Aachen
      </div>
    </div>

    <div local-class="box mail-box">
      {{svg-jar "letter" local-class="box-logo"}}
      <div local-class="box-text">
        Schreiben Sie uns!<br>
        <a href="mailto:mail@projektitekt.de">mail@projektitekt.de</a>
      </div>
    </div>

    <div local-class="box phone-box">
      {{svg-jar "phone" local-class="box-logo"}}
      <div local-class="box-text">
        +49 (2402) 90 55 161<br>
        +49 (151) 651 52 999
      </div>
    </div>
  </div>

  <div local-class="bottom">
    <div local-class="bottom-content">
      <div local-class="copyright">
        &copy; Projektitekt 2019–{{this.year}}
      </div>

      <ul local-class="links">
        <li><LinkTo @route="imprint">Impressum</LinkTo></li>
        <li><LinkTo @route="privacy">Datenschutz</LinkTo></li>
      </ul>
    </div>
  </div>
</footer>
